/* sass-plugin-0:/home/runner/work/wds/wds/main/src/Button/Button.module.scss */
.loader {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0.5em;
  box-sizing: border-box;
}
.loader > .svg {
  width: 100%;
  height: 100%;
}
.button {
  position: relative;
  transition-property:
    background-color,
    border-color,
    color,
    opacity;
  transition-duration: 150ms;
  border: 1px solid #cdd3d8;
  border-radius: 3px;
  background-color: transparent;
  cursor: pointer;
  padding: 9px 16px;
  vertical-align: middle;
  text-decoration: none;
  line-height: 1.43;
  white-space: nowrap;
  color: #495057;
  font-size: 14px;
  font-weight: 500;
  box-sizing: border-box !important;
  -webkit-appearance: none;
  -webkit-font-smoothing: antialiased;
}
.button span {
  display: inline-flex;
  align-items: center;
  vertical-align: top;
}
a.button {
  display: inline-block;
  align-items: center;
  padding-top: 0.07em;
  text-decoration: none;
}
a.button.block {
  text-align: center;
}
@media (hover: hover) and (pointer: fine) {
  .button.hover,
  .button:hover {
    border-width: #adb5bd;
    background-color: #e9ecef;
  }
}
.button:active,
.button.active {
  text-decoration: none;
  border-width: #adb5bd;
  background-color: #e9ecef;
}
.button.disabled,
.button:disabled,
.button[disabled] {
  opacity: 0.45;
  cursor: default;
  pointer-events: none;
}
.button.circular {
  border-radius: 999em;
}
.button.block {
  width: 100%;
}
.button.loading {
  cursor: default;
  pointer-events: none;
}
.button.loading > span {
  opacity: 0;
}
.button.loading .loader {
  opacity: 1;
}
.button.loading.iconOnly > span svg {
  opacity: 0;
}
.button.loading.primary:hover .loader circle {
  stroke: #fff !important;
}
.button.contained {
  border-color: #dde2e6;
  background-color: #dde2e6;
}
@media (hover: hover) and (pointer: fine) {
  .button.contained.hover,
  .button.contained:hover {
    border-color: #cdd3d8;
    background-color: #cdd3d8;
  }
}
.button.contained:active,
.button.contained.active {
  text-decoration: none;
  border-color: #cdd3d8;
  background-color: #cdd3d8;
}
.button.text {
  border-color: transparent;
}
@media (hover: hover) and (pointer: fine) {
  .button.text.hover,
  .button.text:hover {
    background-color: #dde2e6;
  }
}
.button.text:active,
.button.text.active {
  text-decoration: none;
  background-color: #dde2e6;
}
.button.primary {
  border-color: #00c4c4;
  color: #00a2a2;
}
@media (hover: hover) and (pointer: fine) {
  .button.primary.hover,
  .button.primary:hover {
    border-color: #00c4c4;
    background-color: #e7f9f9;
  }
}
.button.primary:active,
.button.primary.active {
  text-decoration: none;
  border-color: #00c4c4;
  background-color: #e7f9f9;
}
.button.primary.contained {
  border-color: #00c4c4;
  background-color: #00c4c4;
  color: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .button.primary.contained.hover,
  .button.primary.contained:hover {
    border-color: #00b2b2;
    background-color: #00b2b2;
    color: #fff;
  }
}
.button.primary.contained:active,
.button.primary.contained.active {
  text-decoration: none;
  border-color: #00b2b2;
  background-color: #00b2b2;
  color: #fff;
}
.button.primary.text {
  border-color: transparent;
}
@media (hover: hover) and (pointer: fine) {
  .button.primary.text.hover,
  .button.primary.text:hover {
    background-color: #e7f9f9;
    color: #00a2a2;
  }
}
.button.primary.text:active,
.button.primary.text.active {
  text-decoration: none;
  background-color: #e7f9f9;
  color: #00a2a2;
}
.button.secondary {
  border-color: #e9ecef;
  color: #343a40;
}
@media (hover: hover) and (pointer: fine) {
  .button.secondary.hover,
  .button.secondary:hover {
    border-color: #e9ecef;
    background-color: #f9fafb;
  }
}
.button.secondary:active,
.button.secondary.active {
  text-decoration: none;
  border-color: #e9ecef;
  background-color: #f9fafb;
}
.button.secondary.contained {
  border-color: #868e96;
  background-color: #868e96;
  color: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .button.secondary.contained.hover,
  .button.secondary.contained:hover {
    border-color: #495057;
    background-color: #495057;
    color: #fff;
  }
}
.button.secondary.contained:active,
.button.secondary.contained.active {
  text-decoration: none;
  border-color: #495057;
  background-color: #495057;
  color: #fff;
}
.button.secondary.text {
  border-color: transparent;
}
@media (hover: hover) and (pointer: fine) {
  .button.secondary.text.hover,
  .button.secondary.text:hover {
    background-color: #f2f4f6;
    color: #343a40;
  }
}
.button.secondary.text:active,
.button.secondary.text.active {
  text-decoration: none;
  background-color: #f2f4f6;
  color: #343a40;
}
.button.tertiaryMint {
  border-color: #e7f9f9;
  color: #00a2a2;
}
.button.tertiaryMint.contained {
  border-color: #e7f9f9;
  background-color: #e7f9f9;
  color: #00a2a2;
}
@media (hover: hover) and (pointer: fine) {
  .button.tertiaryMint.hover,
  .button.tertiaryMint:hover {
    border-color: #b9eeee;
    background-color: #b9eeee;
  }
}
.button.tertiaryMint:active,
.button.tertiaryMint.active {
  text-decoration: none;
  border-color: #b9eeee;
  background-color: #b9eeee;
}
.button.tertiaryMint.text {
  border-color: transparent;
}
@media (hover: hover) and (pointer: fine) {
  .button.tertiaryMint.text.hover,
  .button.tertiaryMint.text:hover {
    background-color: #e7f9f9;
    color: #00a2a2;
  }
}
.button.tertiaryMint.text:active,
.button.tertiaryMint.text.active {
  text-decoration: none;
  background-color: #e7f9f9;
  color: #00a2a2;
}
.button.tertiaryGrey {
  border-color: #f2f4f6;
  color: #495057;
}
.button.tertiaryGrey.contained {
  border-color: #f2f4f6;
  background-color: #f2f4f6;
  color: #495057;
}
@media (hover: hover) and (pointer: fine) {
  .button.tertiaryGrey.hover,
  .button.tertiaryGrey:hover {
    border-color: #e9ecef;
    background-color: #e9ecef;
  }
}
.button.tertiaryGrey:active,
.button.tertiaryGrey.active {
  text-decoration: none;
  border-color: #e9ecef;
  background-color: #e9ecef;
}
.button.tertiaryGrey.text {
  border-color: transparent;
}
@media (hover: hover) and (pointer: fine) {
  .button.tertiaryGrey.text.hover,
  .button.tertiaryGrey.text:hover {
    background-color: #f2f4f6;
    color: #343a40;
  }
}
.button.tertiaryGrey.text:active,
.button.tertiaryGrey.text.active {
  text-decoration: none;
  background-color: #f2f4f6;
  color: #343a40;
}
.button.info {
  border-color: #7396ff;
  color: #395bbf;
}
@media (hover: hover) and (pointer: fine) {
  .button.info.hover,
  .button.info:hover {
    border-color: #4167d9;
    background-color: #eff3fd;
  }
}
.button.info:active,
.button.info.active {
  text-decoration: none;
  border-color: #4167d9;
  background-color: #eff3fd;
}
.button.info.contained {
  border-color: #7396ff;
  background-color: #7396ff;
  color: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .button.info.contained.hover,
  .button.info.contained:hover {
    border-color: #557cf2;
    background-color: #557cf2;
    color: #fff;
  }
}
.button.info.contained:active,
.button.info.contained.active {
  text-decoration: none;
  border-color: #557cf2;
  background-color: #557cf2;
  color: #fff;
}
.button.info.text {
  border-color: transparent;
}
@media (hover: hover) and (pointer: fine) {
  .button.info.text.hover,
  .button.info.text:hover {
    background-color: #eff3fd;
    color: #395bbf;
  }
}
.button.info.text:active,
.button.info.text.active {
  text-decoration: none;
  background-color: #eff3fd;
  color: #395bbf;
}
.button.danger {
  border-color: #ff8181;
  color: #e54545;
}
@media (hover: hover) and (pointer: fine) {
  .button.danger.hover,
  .button.danger:hover {
    border-color: #f25555;
    background-color: #fff1f1;
  }
}
.button.danger:active,
.button.danger.active {
  text-decoration: none;
  border-color: #f25555;
  background-color: #fff1f1;
}
.button.danger.contained {
  border-color: #ff8181;
  background-color: #ff8181;
  color: #fff;
}
@media (hover: hover) and (pointer: fine) {
  .button.danger.contained.hover,
  .button.danger.contained:hover {
    border-color: #f66;
    background-color: #f66;
    color: #fff;
  }
}
.button.danger.contained:active,
.button.danger.contained.active {
  text-decoration: none;
  border-color: #f66;
  background-color: #f66;
  color: #fff;
}
.button.danger.text {
  border-color: transparent;
}
@media (hover: hover) and (pointer: fine) {
  .button.danger.text.hover,
  .button.danger.text:hover {
    background-color: #fff1f1;
    color: #e54545;
  }
}
.button.danger.text:active,
.button.danger.text.active {
  text-decoration: none;
  background-color: #fff1f1;
  color: #e54545;
}
.button svg.icon {
  display: inline-block;
  width: 16px;
  height: 16px;
}
.button svg.icon:first-child {
  margin-right: 6px;
}
.button svg.icon:last-child {
  margin-left: 6px;
}
.button .children {
  vertical-align: top;
}
.button.xs {
  padding: 4px 12px;
  line-height: 1.5;
  font-size: 12px;
}
.button.xs svg.icon {
  width: 12px;
  height: 12px;
}
.button.xs svg.icon:first-child {
  margin-right: 4px;
}
.button.xs svg.icon:last-child {
  margin-left: 4px;
}
.button.xs.startIcon {
  padding-left: 8px;
}
.button.xs.endIcon {
  padding-right: 8px;
}
.button.sm {
  padding: 6px 12px;
  line-height: 1.5;
  font-size: 12px;
}
.button.sm svg.icon {
  width: 16px;
  height: 16px;
}
.button.sm svg.icon:first-child {
  margin-right: 4px;
}
.button.sm svg.icon:last-child {
  margin-left: 4px;
}
.button.sm.startIcon {
  padding-left: 8px;
}
.button.sm.endIcon {
  padding-right: 8px;
}
.button.md {
  padding: 9px 16px;
  line-height: 1.45;
  font-size: 14px;
}
.button.md svg.icon {
  width: 16px;
  height: 16px;
}
.button.md svg.icon:first-child {
  margin-right: 6px;
}
.button.md svg.icon:last-child {
  margin-left: 6px;
}
.button.md.startIcon {
  padding-left: 10px;
}
.button.md.endIcon {
  padding-right: 10px;
}
.button.lg {
  padding: 9px 24px;
  line-height: 1.75;
  font-size: 16px;
}
.button.lg svg.icon {
  width: 20px;
  height: 20px;
}
.button.lg svg.icon:first-child {
  margin-right: 6px;
}
.button.lg svg.icon:last-child {
  margin-left: 6px;
}
.button.lg.startIcon {
  padding-left: 18px;
}
.button.lg.endIcon {
  padding-right: 18px;
}
.button.xl {
  padding: 14px 28px;
  line-height: 1.4;
  font-size: 18px;
}
.button.xl svg.icon {
  width: 24px;
  height: 24px;
}
.button.xl svg.icon:first-child {
  margin-right: 8px;
}
.button.xl svg.icon:last-child {
  margin-left: 8px;
}
.button.xl.startIcon {
  padding-left: 20px;
}
.button.xl.endIcon {
  padding-right: 20px;
}
.button.inline-block {
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
  height: auto;
  line-height: 1.25;
}
.button.iconOnly {
  padding: 12px;
  height: auto;
}
.button.iconOnly > span svg {
  width: 16px;
  height: 16px;
}
.button.iconOnly.xs {
  padding: 8px;
}
.button.iconOnly.xs > span svg {
  width: 12px;
  height: 12px;
}
.button.iconOnly.sm {
  padding: 8px;
}
.button.iconOnly.sm > span svg {
  width: 16px;
  height: 16px;
}
.button.iconOnly.md {
  padding: 12px;
}
.button.iconOnly.md > span svg {
  width: 16px;
  height: 16px;
}
.button.iconOnly.lg {
  padding: 14px;
}
.button.iconOnly.lg > span svg {
  width: 20px;
  height: 20px;
}
.button.iconOnly.xl {
  padding: 16px;
}
.button.iconOnly.xl > span svg {
  width: 24px;
  height: 24px;
}
