// breakpoints
// 기본은 모바일 우선으로 스타일을 작성한다.
// 필요에 따라서 아래의 분기에 맞게 스타일을 나누어 작성한다.
$breakpoints-map: (
  xsmall: 480px, /* 320px보다 큰 표준 모바일 사이즈*/
  small: 768px, /* 테블릿 사이즈*/
  medium: 1096px, /* 데스크탑 사이즈*/
  large: 1200px, /* 와이드 데스크탑 사이즈*/
);
