html,
body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
ol,
li,
div,
span,
input,
button,
textarea {
  -webkit-appearance: none;
  margin: 0;
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea {
  background: none;
}
