/**
 * Color
 */

// Brand Color - Primary
$color-primary-100: #e7f9f9;
$color-primary-200: #b9eeee;
$color-primary-300: #8be4e4;
$color-primary-400: #5cdede;
$color-primary-500: #2ed5d5;
$color-primary-600: #00c4c4;
$color-primary-700: #00b2b2;
$color-primary-800: #00a2a2;

// Semantic color - Info
$color-info-100: #eff3fd;
$color-info-200: #d0dbfb;
$color-info-300: #b1c3f9;
$color-info-400: #99b2ff;
$color-info-500: #7396ff;
$color-info-600: #557cf2;
$color-info-700: #4167d9;
$color-info-800: #395bbf;

// Semantic color - Danger
$color-danger-100: #fff1f1;
$color-danger-200: #ffd5d5;
$color-danger-300: #ffb9b9;
$color-danger-400: #ff9d9d;
$color-danger-500: #ff8181;
$color-danger-600: #f66;
$color-danger-700: #f25555;
$color-danger-800: #e54545;

// Greyscale Color - Greyscale
$color-grey-000: #f9fafb;
$color-grey-100: #f2f4f6;
$color-grey-200: #e9ecef;
$color-grey-300: #dde2e6;
$color-grey-400: #cdd3d8;
$color-grey-500: #adb5bd;
$color-grey-600: #868e96;
$color-grey-700: #495057;
$color-grey-800: #343a40;
$color-grey-900: #212529;

// Greyscale Color - RGB White
$color-rgba-light-68: rgba(255, 255, 255, 0.68);
$color-rgba-light-84: rgba(255, 255, 255, 0.84);
$color-rgba-light-100: #fff;

// Greyscale Color - RGB Dark
$color-rgba-dark-30:	rgba(0, 0, 0, 0.3);
$color-rgba-dark-54: rgba(0, 0, 0, 0.54);
$color-rgba-dark-68: rgba(0, 0, 0, 0.68);
$color-rgba-dark-100: #000;
