/**
 * Spacing
 */

// 작고 세분화된 요소에 사용 - 예: 레이블과 인풋 사이
$spacing-1: 2px;
$spacing-2: 4px;
$spacing-3: 8px;
$spacing-4: 12px;
$spacing-5: 16px;

// 비슷한 요소와 요소 사이에 사용 - 예: 카드와 카드 사이
$spacing-6: 24px;
$spacing-7: 32px;
$spacing-8: 40px;

// 다른 구성요소의 레이아웃에 사용 - 예: 랜딩페이지의 콘텐츠와 콘텐츠 사이
$spacing-9: 80px;
$spacing-10: 120px;
